//
//  Env.xcconfig
//  SmartCaptureDemo
//
//  Created by Jonathan Go on 27.02.24.
//
// 
// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
// 
// Update this file with right values and rename removing `-sample`

API_KEY = <API token goes here>
WORKFLOW_ID = <Workflow Id goes here>
